main {
    text-align: center;
}
canvas {
    border: 3px solid #000;
}
#score-text {
    font-family: "consolas", monospace;
    font-size: 100px;
}
#reset-button {
    font-family: "Permanent Marker", cursive;
    font-size: 22px;
    width: 100px;
    height: 50px;
    border: 4px solid #000;
    border-radius: 15px;
    cursor: pointer;
}
#settings {
    font-size: 35px;
}
input {
    width: 100px;
    height: 30px;
}
input {
    font-size: 28px;
    color: red;
}